{% extends "base.html" %}

{% block content %}

 <h1> This is index</h1>


 <div class="container row">
   <h2>All Articles</h2> 
   <div class="row">
      {% for i in articles  %}
      <div class="card col-3" style="width: 18rem;">
        <img src="{{i.image.url}}"  class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{i.title | truncatewords:10}}</h5>
          <p class="card-text">{{i.content | truncatewords:20}}</p>
          <a href="#" class="">Read more</a>
        </div>
      </div>
  
      {% endfor %}
    </div>
   
    
  </div>

 {% comment %} {% for i in articles  %}

   {{i.title}} 
   {{i.content}}
   {{i.pub_date}}
   <img src='{{i.image.url}}'alt=''>

 {% endfor %} {% endcomment %}

{% endblock content %}